#page {
    display: grid;
    background-color: bisque;
    height: 500px;
    grid-template-areas:  "l mn ."
                          "m m m"
                          "f f f";
  }

  .logo {
    background-color: blueviolet;
    grid-area: l;
  }

  .desktop-navigation {
    background-color: brown;
    display: none;
  }

  .mobile-navigation {
    background-color: chartreuse;
    grid-area: mn;
  }

  .main {
    background-color: coral;
    grid-area: m;
  }

  .footer {
    background-color: cyan;
    grid-area: f;
  }

  .test-media-query {
    background-color: darkblue;
  }

  @media only screen and (min-width: 600px) {
    .test-media-query {
      background-color: red;
    }

    .desktop-navigation {
      display: block;
      grid-area: dn;

    }

    .mobile-navigation {
      display: none;
    }

    #page {
      grid-template-areas:  "l . . dn"
                            ". m m ."
                            ". m m ."
                            "f f f f";
    }
  }